<h1 class="p-3">Your Posts</h1>

{{#each posts as |post|}}
<div class="row">
    <div class="card col-11 mx-auto m-4 my-card">
        <div class="card-header bg-lilac">
            <h5>{{post.title}}</h5>
            <h9>{{format_time post.createdAt}}</h9>
        </div>
        <div class="card-body">
            <a href="update-post/{{post.id}}" class="btn btn-outline-dark btn-sm">Update</a>          
        </div>
    </div>
</div>
{{/each}}

<div class="row">
    <div class="d-grid col-11 mx-auto">
        <a href="/new-post" class="btn btn-outline-dark btn-sm">Add a post</a>
    </div>
</div>