<div>
    <form class="my-card m-5 p-3" id="newpost-form">
        <h5 class="bg-lilac">Create New Post</h5>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <div class="form-floating">
                <textarea class="form-control" id="content" style="height: 300px"></textarea>
            </div>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-outline-dark">Create</button>
        </div>
    </form>
</div>

<script src="/js/newpost.js"></script>