<div>
    <form class="my-card m-5 p-3" id="signup-form">
        <h5 class="bg-lilac">Sign Up</h5>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-outline-dark">Sign Up</button>
        </div>
        <div class="mb-3">
            <a href="/login">Login instead</a>
        </div>
    </form>
</div>

<script src="./js/signup.js"></script>