<div>
    <form class="my-card m-5 p-3" id="update-form">
        <h5 class="bg-lilac">Update Post</h5>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" value="{{post.title}}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <div class="form-floating">
                <textarea class="form-control" id="content"
                    style="height: 300px">{{post.content}}</textarea>
            </div>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-outline-dark">Update</button>
            <button type="submit" class="btn btn-outline-danger mt-3" id="delete-button">Delete</button>
        </div>
    </form>
</div>

<script src="/js/updatePost.js"></script>